$easing: cubic-bezier(0.83, 0, 0.17, 1);

input {
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
}

//////
.subject {
  z-index: -1;
  position: fixed; top: 50%; left: 50%;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: solid 12px rgb(247, 247, 247);
  transform: translate(-50%, -50%) scale(1);

  &:not(.INTRO) {
    background-color: rgb(247, 247, 247);
    transform: translate(-50%, -50%) scale(.75);

    transition: color, transform, background, opacity;
    transform-origin: center center;
    transition-duration: 1.8s;
    transition-timing-function: $easing;
  }

  &.SUBJECT {
    // transition-delay: .8s;
    transform: translate(-50%, -50%) scale(1.8);
    opacity: 0;
  }

  &.SUBJECT, &.NEGATIVE, &.PP, &.SORT { opacity: 1; }

  // &.NEGATIVE {
  //   background-color: rgb(217, 217, 217);
  //   color: rgb(0, 0, 0, 0.5);
  // }

  input {
    text-align: center;
    width: 80%;
    font-size: 18px;

    position: absolute;
    top:50%; left: 50%;
    transform: translate(-50%, -50%);
  }

  input.editable {
      border-bottom: black solid 2px;
      color: rgb(0, 0, 0);
  }

  input:not(.editable) {
    pointer-events: none;
    color: rgba(0, 0, 0, .5);
  }
}

.thought-input {
  transform: translate(-50%, 0);
  position: absolute;
  bottom: 50px; left: 50%;
  border-bottom: black solid 2px;
  padding: 6px 0;
  font-size: 15px;
  color: rgb(0, 0, 0);
  text-align: center;
  width: 210px;

  &:not(.invisible) {
    transition:
      opacity $easing .4s,
      transform $easing .4s;
  }

  &.invisible {
    opacity: 0;
    transform: translate(-50%, 5px);
    pointer-events: none;
  }
}

.realism-slider {
  position: absolute;
  left: 50%; bottom: 40px;
  height: 3px; width: 300px;
  transform: translateX(-50%);
  cursor: pointer;
  background: linear-gradient(to right, rgba(0,0,0,1), rgba(255,255,255,1));

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px; height: 15px;
    background: white;
    border: solid 4px black;
    cursor: pointer;
    border-radius:50%;
    outline:none;
  }

  // &::-webkit-slider-runnable-track { width: 300px; }

  &::before, &::after {
    color: black;
    display: block;
    height: 14px;
    position: absolute;
  }

  &::before {
    content: 'IRRATIONELER';
    transform: translate(-100%, -50%);
    padding-right: 10px;
  }

  &::after {
    content: 'REALISTISCHER';
    right: 0;
    transform: translate(100%, -50%);
    padding-left: 10px;
  }
}
