.intro {
  width: 100vw; height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 0 60px;


  &__app-logo {
    width: 90px;
  }

  &__text {
    width: 480px;
    font-size: 1.5em;
  }

  &__phases-list {
    margin-top: 60px;
    list-style-position: inside;
    list-style: decimal;
    width: 480px;

    li {
      font-size: 1.2em;
      line-height: 1.8;
    }
  }

  &__begin-btn { margin-top: 60px; }
}
