<div class="intro">

  <img
    class="intro__app-logo"
    src="assets/images/logo.svg"
  />
  <p class="intro__text">Breng je stress en negatieve gedachtes in perspectief
    door ze te <span class="underline">visualiseren</span> en <span class="underline">in verhouding</span> te brengen. </p>
  <!-- src="../assets/images/logo.svg" -->
  <ul class="intro__phases-list">
    <li>Onderwerp</li>
    <li>Negatieve invloeden</li>
    <li>Positieve kant</li>
    <li>Irrationeel / realistisch</li>
    <li><strong>In perspectief</strong></li>
  </ul>

  <button (click)="nextPhase()" class="intro__begin-btn ready-btn">Begin</button>
</div>
