.axis {
  position: fixed; top: calc(50% - 60px);
  width: 100vw;
  transform: translateY(-50%);
  display: flex; justify-content: space-between;
  z-index: -1;

  span {
    display: inline-block;
    padding: 0 40px;
    background-color: white;
    // font-style: italic;
    color: rgb(180, 180, 180);
  }
}
