$easing: cubic-bezier(0.83, 0, 0.17, 1);

input {
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
}

.thoughts {
  position: fixed;
  top: 0; left: 0;
  z-index: -1;
}

//////
.subject {
  z-index: -1;
  position: fixed; top: calc(50% - 60px); left: 50%;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: solid 12px rgb(247, 247, 247);
  transform: translate(-50%, -50%) scale(1);

  &::after {
    content: 'Beschrijf in 1 a 2 woorden waar je stress van ervaart';
    color: rgb(180, 180, 180);
    width: 90%;
    font-size: .3em;
    text-align: center;
    transform: translateY(-50%);
    position: absolute; top: calc(50% + 40px);
    opacity: 0;
    transition: opacity .4s $easing .2s;
  }

  &.SUBJECT::after { opacity: 1;}

  &:not(.INTRO) {
    background-color: rgb(247, 247, 247);
    transform: translate(-50%, -50%) scale(.75);

    transition: color, transform, background, opacity;
    transform-origin: center center;
    transition-duration: 1.8s;
    transition-timing-function: $easing;
  }

  &.SUBJECT {
    // transition-delay: .8s;
    transform: translate(-50%, -50%) scale(1.8);
    opacity: 0;
  }

  &.SUBJECT, &.NEGATIVE, &.PP, &.SORT { opacity: 1; }

  // &.NEGATIVE {
  //   background-color: rgb(217, 217, 217);
  //   color: rgb(0, 0, 0, 0.5);
  // }

  input {
    text-align: center;
    width: 85%;
    font-size: 16px;
    padding-bottom: 6px;
    transition: border .4s $easing .2s;

    &::placeholder { transition: color .4s $easing .2s; }

    position: absolute;
    top:50%; left: 50%;
    transform: translate(-50%, -50%);
  }

  input.editable {
      border-bottom: black solid 2px;
      color: rgb(0, 0, 0);
  }

  input:not(.editable) {
    &::placeholder { color: rgb(247, 247, 247); }
    pointer-events: none;
    color: rgba(0, 0, 0, .5);
  }
}

.thoughts__input {
  transform: translate(-50%, 0);
  position: absolute;
  bottom: 12px; left: 50%;
  display: flex; flex-wrap: wrap; justify-content: center;

  &:not(.invisible) {
    transition:
      opacity $easing .4s,
      transform $easing .4s;
  }

  &.invisible {
    opacity: 0;
    transform: translate(-50%, 5px);
    pointer-events: none;
  }

  &__el {
    order: 1;
    border-bottom: black solid 2px;
    padding: 6px 0;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 320px;
  }

  &__info-btn, &__type-switch {
    width: 100px;
    display: flex; justify-content: center;
  }

  &__type-switch {
    order: 0;

    button {
      appearance: none;
      background: none;
      outline: none;
      border: unset;
      padding: 0px 6px 6px;
      line-height: 0;
      height: 30px;
    }

    .negative { font-size: 1.6em }
    .positive { font-size: 1.4em }

    .active { border: solid 3px black }
    button:not(.active) {
      color: rgb(180, 180, 180);
      cursor: pointer;

      &:hover { color: black }
    }
  }

  &__info-btn {
    order: 2;

    button {
      display: block;
      height: 30px; width: 30px;
      background-color: white;
      border: solid 2px rgb(217, 217, 217);
      border-radius: 50%;

      color:rgb(217, 217, 217);
      font-size: 1em;
      line-height: 0;
      // font-weight: bold;
    }

    &.is--visible button { cursor: pointer; }
    &:not(.is--visible) button { pointer-events: none; }
  }

  &__description {
    order: 4;
    margin: 8px 0;
    width: 100%;
    flex-shrink: 0; display: flex; justify-content: center;
    padding: 0;

    li {
      list-style: none;
      display: flex;
      align-items: center;
      margin: 0 15px;

      img {
        max-width: 20px;
        max-height: 16px;
        opacity: .5;
        margin-right: 8px;
      }
    }

    p {
      font-size: .8em;
      color: rgb(140, 140, 140);
    }
  }
}

.realism-slider {
  position: absolute;
  left: 50%; bottom: 80px;
  height: 3px; width: 360px;
  transform: translateX(-50%);
  cursor: pointer;
  background: linear-gradient(to right, rgba(0,0,0,1), rgba(255,255,255,1));

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px; height: 15px;
    background: white;
    border: solid 4px black;
    cursor: pointer;
    border-radius:50%;
    outline:none;
  }

  // &::-webkit-slider-runnable-track { width: 300px; }

  &::before, &::after {
    color: black;
    display: block;
    height: 14px;
    position: absolute;
  }

  &::before {
    content: 'IRRATIONELER';
    transform: translate(-100%, -50%);
    padding-right: 10px;
  }

  &::after {
    content: 'REALISTISCHER';
    right: 0;
    transform: translate(100%, -50%);
    padding-left: 10px;
  }
}


