$easing: cubic-bezier(0.83, 0, 0.17, 1);

.gradient {
  position: fixed; top:0; left:0;
  width: 100vw; height: 100vh;
  pointer-events: none;

  &::before, &::after {
    content: '';
    display: block;
    height: 80px; width: 100%;
    position: absolute; left: 0;
  }

  // &::before {
  //   top: 0;
  //   background: linear-gradient(rgb(217,217,217, 0.2), rgba(white, 0.0))
  // }

  &::after {
    bottom: 0;
    background: linear-gradient(rgba(white, 0.0), rgb(217,217,217, 1));
  }
}

.ready-note, .ready-btn {
  position: fixed;
  right: 20px; bottom: 20px;
  z-index: 1;
}

.ready-btn {
  &:not(.is--visible) {
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
  }

  &.is--visible {
    transform: translateY(0);
    opacity: 1;
    transition:
      opacity ease-out .4s,
      transform ease-out .4s;
  }
}

.ready-note {
  font-size: .8em;
  color: rgb(180, 180, 180);
  margin: 10px;
}


.bottom-logo {
  width: 60px;
  position: fixed; bottom: 30px; left: 30px;
  opacity: .2;
  transition: opacity ease-out .4s;

  .INTRO & { opacity: 0; }
}
