.ready-btn {
  position: fixed;
  left: 50%;
  z-index: 1;

  opacity: 0;
  transform: translate(-50%, 10px);

  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  font-size: 16px;
  font-style: italic;

  &::before {
    content: attr('note');
    font-size: 12px;
    color: rgb(217, 217, 217);
  }

  &.is--visible {
    transform: translate(-50%, 0);
    opacity: 1;
    transition:
      opacity ease-out .4s,
      transform ease-out .4s;
  }

  &.SUBJECT { top: 75%; }
  &.NEGATIVE { bottom: 20px; }
}
