<button class="open-btn" [class.is--visible]="!show" (click)="open()">?</button>
<div class="phase-text x--{{xPos}} y--{{yPos}}" [class.is--visible]="show">
  <span class="phase-text__icon">i</span>
  <h1 class="phase-text__subject">{{subject}}</h1>
  <ul class="phase-text__tasks-list">
    <li *ngFor="let task of tasks">
      <img class="icon" [src]="'/assets/icons/' + task.icon + '.png'">
      <p class="description" [innerHTML]="task.description"></p>
      <p class="note" *ngIf="task.note" [innerHTML]="task.note"></p>
    </li>
  </ul>

  <button class="ready-btn" (click)="close()">Ik snap het</button>
</div>
